body {
    background-color: red
}

.address-content {
    font-size: 13px
}

.card {
    height: 100%
}

.content-aboutme span {
    font-size: 13px
}

.portfolio-content p {
    font-size: 13px
}

.badge {
    font-size: 11px;
    font-weight: 600
}